#panel {
        border: 1px solid rgb(29, 29, 114);
        background-color: rgb(24, 24, 34);
        height:40px;
        width: 100%;
        display: inline-block;
        overflow: hidden;
}
#logo {
        background-position: center;
        background-size: cover;
        background-image:url("../photos/logo.png");
        background-position: center;
        line-height:40px;
        border: 1px solid blue;
        height:inherit;
        text-align: center ;
        padding-right: 10px;
        padding-left: 10px;
        margin-left:10%;
        top: 50%;
        display: inline-block;  
}
#menu {
        border: 1px solid blue;
        background-color: rgb(125, 159, 170);
        display: inline-block;
        height:inherit;
        right: 0;
        position: relative;
        margin-right: 50px; 
        margin-left: 50%;  

}
#menuButton {
        line-height:40px;
        border: 1px solid rgb(52, 172, 156);
        background-color: rgb(184, 187, 230);
        height: inherit;
        display: inherit; 
        padding-right: 10px;
        padding-left: 10px; 

}

#leftSpace{
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-left: 2px solid black;
        width:300px;
        margin-left: 20%;
        margin-top: 5%;
        padding: 30px;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 50px;
}
#userPage{
        height: 100%;
        background-color: rgb(255, 255, 255);
        border: 2px dotted black;
        width:50%;
        height: 200px;
        margin-left: 20%;
        margin-top: 5%;
        padding: 30px;
        padding-top: 20px;
        padding-bottom: 40px;
}
#userAva{
        width: 100px;
        height: 100px;
        display: inline-block;
        float:left;
}
#userInfo{   
        display: inline-block;
        padding:10px;
        margin-left: 3%;
        margin-top: 0px;
        width: 75%;
        float: left;
}
#userBio{
        top:0;
        background-color: rgb(217, 219, 243);   
        padding:10px;
        margin-left: 1%;
        height: 100px;
}

#photo{
        display: inline-block;
        margin: 10px;
        height: inherit;
        width: 200px;
        background-image:url("../photos/photo1.jpg");
        background-repeat: no-repeat;
        float:left;
        background-position: center;
        background-size: cover;
}
#photo2{
        display: inline-block;
        margin: 10px;
        height: inherit;
        width: 200px;
        background-image:url("../photos/photo2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        float:left;
}
#photo3{
        background-position: center;
        background-size: cover;
        display: inline-block;
        margin: 10px;
        height: inherit;
        width: 200px;
        background-image:url("../photos/photo3.jpg");
        background-repeat: no-repeat;
        float:left;
}
#photoInfo{
        display: inline-block;
        padding-left: 10px;
        padding-top: 10px;
        float:left;
        margin: 10px;
        margin-top: 20px;
        height: inherit;
        width: auto;
}
#indexText{
        margin-left:20%;
        margin-top: 10%;
        text-align:left;
        font-family: 'Franklin Gothic Medium';
        font-size: 40px;
        font-display: fallback;
}